@use "./base.scss";

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/static/fondo.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

:root[saved-theme="dark"] body::before {
  opacity: 0.3;
}

/* Search bar colors */
.search-button {
  background-color: var(--dark) !important;
  color: var(--light) !important;
  opacity: 0.5;
}

:root[saved-theme="dark"] .search-button {
  background-color: var(--light) !important;
  color: var(--dark) !important;
  opacity: 0.5;
}