scss@use "./base.scss";

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/static/fondo.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

:root[saved-theme="dark"] body::before {
  filter: brightness(0.4);
}